<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>

  <div id="exercise">
    <!-- 1) Start the Effect with the Button. The Effect should alternate the "highlight" or "shrink" class on each new setInterval tick (attach respective class to the div with id "effect" below) -->
    <div>
      <button @click="startEffect">Start Effect</button>
      <div :class="[{highlight: !shrinkHighlight}, {shrink: shrinkHighlight}]" id="effect"></div>
    </div>
    <!-- 2) Create a couple of CSS classes and attach them via the array syntax -->
    <div @click="startEffect()" :class="[ownClass, notOwnClass]">I got no class :(</div>
    <!-- 3) Let the user enter a class (create some example classes) and attach it -->
    <div>
      <input type="text" v-model="usersClass">
      <div :class="usersClass"></div>
    </div>
    <hr>
    <!-- 4) Let the user enter a class and enter true/ false for another class (create some example classes) and attach the classes -->
    <div>
      <input type="text" v-model="typableClass">
      <input type="text" v-model="allowed">
      <div :class="[typableClass, {myClassItyped: allowed}]"></div>
    </div>
    <hr>
    <!-- 5) Repeat 3) but now with values for styles (instead of class names). Attach the respective styles.  -->
    <div>
      <input type="text" v-model="usersColor">
      <div :style="[{backgroundColor: usersColor}, {width: '50px'}, {height: '50px'}]"></div>
    </div>
    <!-- 6) Create a simple progress bar with setInterval and style bindings. Start it by hitting the below button. -->
    <div>
      <button @click="startProgress()">Start Progress</button>
      <div style="height: 100px;background-color: green;" :style="{width: progressWidth + 'px'}"></div>
    </div>
  </div>
  
  <script src="https://npmcdn.com/vue/dist/vue.js"></script>
  <script src="app.js"></script>

</body>

</html>