<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<style>
		.demo {
			width: 100px;
			height: 100px;
			background-color: gray;
			display: inline-block;
			margin: 10px;
		}

		.red {
			background-color: red;
		}
		
		.green {
			background-color: green;
		}
		
		.blue {
			background-color: blue;
		}
	</style>
</head>

<body>
	<div id="app">
		<div class="demo" @click="isRed = !isRed" :class="divClasses"></div>
		<div class="demo" :class="{red: isRed}"></div>
		<div class="demo" :class="[color, {red: isRed}]"></div>
		<input type="text" v-model="color" >

		<hr style="height: 20px;background-color:blueviolet;">

		<div class="demo" :style="{backgroundColor: inlineStyle}"></div>
		<div class="demo" :style="customWidth"></div>
		<div class="demo" :style="[customWidth, {height: inlineWidth + 'px'}]"></div>
		<input type="text" v-model="inlineStyle">
		<input type="text" v-model="inlineWidth">
	</div>

	<!-- Put this in the HTML section in JSFiddle! -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

	<script>
		new Vue({
			el: '#app',
			data: {
				isRed: false,
				color: 'green',
				inlineStyle: 'gray',
				inlineWidth: 100
			},
			computed: {
				divClasses: function() {
					return {
						red: this.isRed,
						blue: !this.isRed
					}
				},
				customWidth: function() {
					return {
						width: this.inlineWidth + 'px',
						backgroundColor: this.inlineStyle
					}
				}
			}
		})
	</script>
</body>

</html>