<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>

</head>

<body>
	<div id="app">
		<ul>
			<li v-for="(ingredient, i) in ingredients" :key="ingredient">{{ ingredient }} <b> index: {{ i }} </b></li>
		</ul>
		<button @click="ingredients.push('spices')" >Add new</button>

		<hr>
			<ul>
				<li v-for="person in persons">
					<div v-for="(value, key, index) in person">{{key}} : {{value}} ({{index}})</div> 
				</li>
			</ul>
		<hr>

		<!-- V-for alternative syntax -->

		<template v-for="(ingredient, index) in ingredients">
			<h1>{{ ingredient }}</h1>
			<p>{{ index }}</p>
		</template>
		

		<!-- Looping with numbers -->
		<div v-for="i in 11">{{ i }}</div>

	</div>

	

	<!-- Put this in the HTML section in JSFiddle! -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

	<script>
		new Vue({
			el: '#app',
			data: {
				ingredients: ['meat', 'fruit', 'cookies'],
				persons: [{
						name: 'Max',
						age: 27,
						color: 'red'
					},
					{
						name: 'Anna',
						age: 'unknown',
						color: 'blue'
					}
				]
			}
		})
	</script>
</body>

</html>